body {
  background-color: blanchedalmond;
}
.topnav {
  width: 100%;
  background-color: #555;
  overflow: auto;
  }
  
  .topnav a {
    float: right;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
  }
  
  
  .topnav a:hover {
    background-color: rgb(41, 42, 78);
  }
  .topnav a.active {
    background-color: rgb(130, 214, 189);
    color:white;
  
  }
  
  .topnav .current{
      background-color: lawngreen;
 
  }

.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: aside; }
.item4 { grid-area: footer; }

.grid-container {
display: grid;
grid-template-areas:
  'header header header header header header'
  'main main  main aside aside aside'
  'footer footer footer footer footer footer';
grid-gap: 2px;
background-color: #0c161f;
padding: 5px;

}

.grid-container  header, main, aside, footer{
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 30px;
}